/* shared styles */
*{
    margin: 0x;
    padding: 0px;
    font-family: Mulish;
    font-size: 16px;
}
body{
    margin: 0px 8.5rem;
}

:root{
    --primary-color: #FF5400;
    --small-text: #424247;
    --large-text: #131318;
}

.btn-primary{
    width: 10rem;
    border: none;
    outline: none;
    appearance: none;
    border-radius: .3rem;
    padding: .5rem;
    color: white;
    background-color: var(--primary-color);
}

section{
    margin-bottom: 6rem;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--large-text);
}

.section-description{
    color: #131318;
    opacity: 70%;
}



/* header styles */


/* nav styles */
.site-name{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav>ul{
    display: flex;
    gap: 2.5rem;
}

.nav>ul>li{
    list-style: none;
    font-size: 1.12rem;
}

.nav>ul a{
    text-decoration: none;
    color: var(--small-text);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name > h3{
    font-size: 2.5rem;
}
.site-name span{
    font-size: 2.5rem;
    color: var(--primary-color);  
}


/* banner styles */
.banner-container{
    background-image:
    linear-gradient(rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);;
    width: 100%;
    border-radius: 1rem;
    background-size: cover;
    color: white;
    height: 70vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    width: 70%;
    text-align: center;
}
.banner-text> h3{
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0px;
}
.where-to-go{
    display: flex;
    gap: .6rem;
    justify-content: center;
    padding: .6rem;
    background-color: linear-gradient(rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%);
}
.banner-s {
    width: 10rem;
    border: none;
    outline: none;
    appearance: none;
    border-radius: .3rem;
    padding: .5rem;
}




/* our popular tours */

.popular-tours{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.left-tour ul {
    margin-left: 1.25rem;
}

/* Choose Destination styles */

.destination-container{
    text-align: center;

}
.section-des{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.img-ao > p{
    position: absolute;
}

.img-ao > img{
    width: 100%;
}


.img-align1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    
}

.img-align2{
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}
.img-align3{
    display: flex;
    gap: 1.25rem;
}

.img-ao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

/* why choose us  */

.card{
    width: 50%;
    padding: 2rem;
    background-color:#FBB5631D;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.50rem;
    margin-bottom: 1.5rem;
}

.text-area{
    text-align: center;
    width: 60%;
    margin-bottom: 3rem;
}

.card2{
    background-color: #29CEF61B;
}


/* video demo */

.video-demo{
    display: flex;
    align-items: center;
    gap: 1.50rem;
}

.video-demo > div{
    flex: 1;
}

.video-area video{
    width: 100%;
}
.text-area1 > ul{
    margin-bottom: 2rem;
    margin-left: 1.25rem;
}

/* form section */






/* responsive part */

@media screen and (max-width: 600px) {

    body{
        margin: 0 1.5rem;
    }

    .section{
        margin-bottom: 3rem;
    }

    .banner-container,
    .main-nav,
    .where-to-go,
    .popular-tours,
    .img-align1,
    .img-align2,
    .img-align3,
    .card-container,
    .video-demo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-text,
    .banner-s,
    .btn-primary,
    .right-tour img,
    .section-des,
    .text-area,
    .card,
    video{
        width: 80%;
    }

    .banner-container{
        height: 35rem;
        width: 90%;
    }

    .banner-text>h3{
        font-size: 2.25rem;
    }

    .nav>ul{
        gap: 1rem;
        flex-wrap: nowrap;
    }

    

    
}